/* FORCE L'AFFICHAGE DE TA COQUE */
.controller.ds4 {
background-image: url('https://i.imgur.com/GfqAlau.png') !important;
background-size: contain !important;
background-repeat: no-repeat !important;
}

/* TES STICKS VIOLETS */
.controller.ds4 .stick {
background-image: url('https://i.imgur.com/eFTDg03.png') !important;
}

/* CACHE LES BOUTONS PAR DÉFAUT */
.controller.ds4 .button,
.controller.ds4 .trigger,
.controller.ds4 .bumper,
.controller.ds4 .touchpad {
opacity: 0;
}

/* FAIT APPARAITRE TES BOUTONS QUAND TU APPUIES */
.controller.ds4 .button.pressed,
.controller.ds4 .trigger.pressed,
.controller.ds4 .bumper.pressed {
opacity: 1 !important;
}

/* LIENS POUR TES BOUTONS SPÉCIFIQUES */
.controller.ds4 .button.a.pressed { background-image: url('https://i.imgur.com/QH1oU6j.png') !important; }
.controller.ds4 .button.b.pressed { background-image: url('https://i.imgur.com/QH1oU6j.png') !important; }
.controller.ds4 .button.x.pressed { background-image: url('https://i.imgur.com/QH1oU6j.png') !important; }
.controller.ds4 .button.y.pressed { background-image: url('https://i.imgur.com/QH1oU6j.png') !important; }

/* GACHETTES ET BUMPERS */
.controller.ds4 .trigger.pressed { background-image: url('https://i.imgur.com/1x8BeD9.png') !important; }
.controller.ds4 .bumper.pressed { background-image: url('https://i.imgur.com/81fK0sy.png') !important; }
